<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Начало</a></li>
		        	<li><a href="/about">Обо мне</a></li>
	        		<li><a href="/cv">Резюме</a></li>
	        		<li><a href="/blog">Блог</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/komstin">GitHub</a></li>
	        		<li><a href="mailto:kl@rifco.ru">email</a></li>
              			<li><a href="skype:komstin?chat">Skype</a></li>
	        		<li><a href="https://rifco.ru/">rifco.ru</a></li>
				</ul>
			</footer>
		</body>
	</html>
